@page "/"
@using Consolonia.Controls
@inject INavigation Navigation
@inject IControlledApplicationLifetime Lifetime

@namespace Example.Blazor.Components

<StackPanel Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center">
    @if (_showCounter)
    {
        <TextBlock HorizontalAlignment="HorizontalAlignment.Center">Counter: @CounterText</TextBlock>
    }
    <StackPanel Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" Margin="@Thickness.Parse("4")" Spacing="1">
        <Button OnClick="@OnIncrement">Increment counter support</Button>
        <Button OnClick="@OnToggleCounter">@ToggleText</Button>
        <Button OnClick="@OnMessageBox">Message Box</Button>
        <Button OnClick="@OnGotoSubPage">Go to SubPage</Button>
        <Button OnClick="@OnExit">Exit</Button>
    </StackPanel>
</StackPanel>

@code {
    int _counter;
    bool _showCounter = true;

    string CounterText => _counter switch
    {
        0 => "Not clicked",
        1 => "Clicked 1 time",
        _ => $"Clicked {_counter} times"
    };

    string ToggleText => _showCounter ? "Hide Counter" : "Show Counter";

    void OnIncrement()
    {
        _counter++;
    }

    void OnToggleCounter()
    {
        _showCounter = !_showCounter;
    }

    void OnGotoSubPage()
    {
        Navigation.PushAsync<SubPage>();
    }

    async void OnMessageBox(RoutedEventArgs args)
    {
        await MessageBox.ShowDialog((AC.Control)args.Source!, "Hello, Blazor!", "Blazor Bindings for Consolonia");
    }

    void OnExit()
    {
        Lifetime.Shutdown();
    }

}